name : CI Pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

  steps:
    - name : Checkout Code
      uses : actions/checkout@v5

    - name : Step Up Node.js
      uses : actions/setup-node@v3
      with: 
        node-version: 16
      
    - name : Install Dependencies
      run : npm Install

    - name : Run Tests
      run : npm test 